{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>
<!-- Make this an if pic exists -->
  <p>
    {% load static %}
    <img src="{% static book.image_link %}" style="width:145px;height:200px;"></p>
  
  <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
  <p><strong>Word:</strong> {{ book.word }}</p>



  <div class='word-list'><p><strong>Word List:</strong>
    {% for copy in book.bookinstance_set.all %} [ {{ copy.word }} ]</p>
    {% endfor %}
  </div>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
      <p><strong>Word:</strong> {{copy.word}}</p>
    {% endfor %}
  </div>
{% endblock %}

<img src="{% static {{ book.image_link }}}"></p>