{% extends "base_generic.html" %}

{% block content %}
  <!-- <p>{{ project.get_absolute_url }}</p> -->
  <div class='row'>
    <h1>{{ project.title }}</h1>
    <h2><a href="{% url 'projects' %}">+++</a></h2>   
  </div>
  <p><a href="{{ project.github_repo }}">GitHub Repo</a></p>
<!-- Make this an if pic exists -->
  <p>
    {% load static %}
    <img class='project-list-image' src="{% static project.primary_image_link %}" style="width:340px;"></p>
  <p><strong>Languages:</strong> {{ project.languages }}</p>
  <p><strong>Summary:</strong> {{ project.summary }}</p>

    <h4>Samples</h4>
    <div style="display:flex; flex-wrap:wrap">

    {% for image in project.projectimage_set.all %}
      
      {% load static %}
      <!-- <p><img class='project-list-image' src= {{ image.link_to_image.url }} style="height:280px;"></p> -->
      <p><a href= "{{ image.link_to_image.url }}"><img class='project-list-image' src= {{ image.link_to_image.url }} style="height:280px;"></a></p>
     
    {% endfor %}
  </div>

{% endblock %}
